@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Staatliches&display=swap");

.navigation {
  background-color: black;
  padding-bottom: 50px;
}

.nav-bar-item {
  display: inline-flex;
  flex-direction: row;
  color: white;
  padding-top: 100px;
  padding-left: 28px;
  font-size: 20px;
}

.nav-bar-item a {
  margin-left: 12px;
  margin-right: 38px;
  animation-name: changeCol;
  animation-duration: 25s;
}

@keyframes changeCol {
  from {
    color: black;
  }

  to {
    color: white;
  }
}

/* Club Modal */
.club-modal-trigger {
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  display: inline;
  animation-name: changeCol;
  animation-duration: 25s;
  cursor: pointer;
}

.club-modal-trigger:hover {
  text-decoration: underline;
}

/* Club Modal Table */
.table th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.table td {
  font-size: 20px;
}

.landing {
  background-color: black;
  height: 100%;
}

#landing-video {
  width: 100%;
  max-height: 560px;
  opacity: 0;
  animation-name: smokeImage;
  animation-duration: 11s;
}

@keyframes smokeImage {
  from {
    opacity: .45;
  }

  to {
    opacity: 0;
  }
}

.landing h1 {
  color: rgba(253, 128, 8, 1.00);
  /* padding-top: 5px; */
  position: absolute;
  left: 56%;
  top: 49%;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.4;
  word-spacing: 12px;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}